/* universal style  */
* {
     padding: 0;
     box-sizing: border-box;
     margin: 0;
}
.container {
     max-width: 1320px;
     width: 100%;
     margin: auto;
}

a {
     text-decoration: none;
}
ul,
ol {
     list-style: none;
}

body {
     font-family: 'Inter', sans-serif;
}

.section-title {
     font-size: clamp(1.5625rem, 1.0089rem + 2.4603vw, 3.5rem);
     font-weight: 700;
     text-align: center;
     color: var(--text-title);
}

/* root color  */
:root {
     --btn-bg: #1d4ed8;
     --text-title: #000102;
     --short-title: #2563eb;
     --card-bg: #0d1b2a;
     --border-stoke: #e5e7eb;
     --paragraph: #575757;
     --list-item: #333333;
     --team-title: #0d1b2a;
     --white: #ffffff;
}

/* header style  */
.header {
     background: var(--white);
     padding: 20px 0;
}

.header .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.navbar .logo img {
     width: 100%;
     height: auto;
}

.navbar .nav-menu {
     display: flex;
     gap: 10px;
}

.navbar .nav-menu li a {
     color: var(--paragraph);
     padding: 8px 15px;
     cursor: pointer;
     transition: 0.3s ease;
     font-size: 16px;
     font-weight: 400;
}

.navbar .nav-menu li a:hover {
     background: var(--btn-bg);
     border-radius: 8px;
     color: var(--white);
}

.navbar .menu-btn button,
.hero-content button {
     padding: 12px 20px;
     background: var(--btn-bg);
     color: var(--white);
     border: none;
     border-radius: 8px;
     cursor: pointer;
     font-size: 16px;
     font-weight: 600;
}

/* hero section style  */

.hero-section {
     min-height: 75vh;
     background:
          linear-gradient(to right, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 70%),
          url(../img/banner.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     color: var(--white);
}

.hero-container {
     min-height: 75vh;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     gap: 20px;
     padding: 20px 0;
}

.hero-section .hero-content {
     display: flex;
     flex-direction: column;
}

.hero-section .hero-content h1 {
     font-size: clamp(2.1875rem, 1.3839rem + 3.5714vw, 5rem);
     font-weight: 700;
}

.hero-section .hero-content p {
     font-size: clamp(1rem, 0.8929rem + 0.4762vw, 1.375rem);
     font-weight: 400;
     line-height: 1.3em;
     width: 60%;
     align-self: center;
}

.hero-section .hero-content button {
     margin-top: 250px;
     align-self: center;
     font-size: clamp(1.125rem, 1.0179rem + 0.4762vw, 1.5rem);
     padding: 15px 30px;
}

/* meet our team style  */
.speakers {
     margin: 80px 0;
}
.speaker-content .speaker-grid {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 32px;
     margin-top: 50px;
}

.speaker-grid .speaker-card img {
     width: 100%;
     height: auto;
     border-radius: 12px 12px 0 0;
}

.speaker-grid .speaker-card .speaker-content {
     padding: 24px;
     display: flex;
     gap: 8px;
     flex-direction: column;
}

.speaker-content .speaker-category {
     font-size: 12px;
     font-weight: 600;
     color: var(--short-title);
}

.speaker-content .speaker-name {
     font-size: clamp(1.125rem, 1.0893rem + 0.1587vw, 1.25rem);
     font-weight: 700;
     line-height: 1.3em;
     color: var(--card-bg);
}

.speaker-content .speaker-role {
     font-size: 14px;
     line-height: 1.4em;
     color: var(--paragraph);
}

/* pricing section  */
.pricing {
     margin: 80px 0;
}

.pricing .pricing-content {
     display: flex;
     flex-direction: column;
     gap: 12px;
}

.pricing .pricing-content p {
     font-size: 16px;
     line-height: 1.4em;
     color: var(--paragraph);
     align-self: center;
}

.pricing-content .pricing-grid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 24px;
     padding: 40px 80px;
}

.pricing-content .pricing-grid .pricing-card {
     padding: 32px;
     border-radius: 12px;
     background-color: #f8f9fb;
}

.pricing-content .pricing-grid .pricing-card:hover {
     background: var(--card-bg);
}

.pricing-grid .pricing-card:hover .variation {
     color: var(--btn-bg);
}
.pricing-grid .pricing-card:hover .price {
     color: var(--white);
}
.pricing-grid .pricing-card:hover li {
     color: var(--white);
}
.pricing-grid .pricing-card:hover button {
     color: var(--white);
     background: var(--btn-bg);
     border-color: var(--btn-bg);
}

.pricing-grid .pricing-card .variation {
     font-size: 14px;
     font-weight: 600;
     text-transform: uppercase;
     color: #888888;
}

.pricing-grid .pricing-card .price {
     font-size: clamp(1.75rem, 1.4643rem + 1.2698vw, 2.75rem);
     font-weight: 700;
     color: var(--card-bg);
}
.pricing-grid .pricing-card .type {
     font-size: 13px;
     font-weight: 400;
     color: #888888;
     margin-bottom: 30px;
}

.pricing-card .list-items li {
     list-style-position: inside;
     margin-bottom: 10px;
     font-size: 14px;
     line-height: 1.2em;
     color: #333333;
}

.pricing-card .list-items li::marker {
     color: var(--btn-bg);
}

.pricing-card button {
     width: 100%;
     font-size: 14px;
     padding: 10px 0;
     line-height: 1.3em;
     border-radius: 10px;
     color: var(--btn-bg);
     border: 1px solid var(--btn-bg);
     margin-top: 10px;
}

.footer {
     background: var(--card-bg);
     padding: 50px 0;
}

.footer hr {
     margin: 20px 0;
     border: none;
     background: var(--paragraph);
     height: 2px;
}

.footer-content {
     display: flex;
     gap: 20px;
     flex-wrap: wrap;
}
.footer-item {
     flex: 0 0 calc(100% / 3 - 13.33px);
}
.footer-content .footer-logo img {
     width: 80px;
     height: auto;
}

.footer-content .footer-logo p {
     color: var(--white);
     font-size: 15px;
     margin-top: 20px;
     line-height: 1.4em;
}

.footer-link {
     display: flex;
     flex-direction: column;
     gap: 20px;
     padding-left: 25px;
}

.footer-link h5,
.social-box h5 {
     font-size: 18px;
     font-weight: 600;
     color: var(--white);
     line-height: 1.3em;
}
.footer-link .footer-menu li {
     margin-bottom: 10px;
}

.footer-link .footer-menu li a {
     color: var(--white);
     font-size: 16px;
     font-weight: 400;
}

.footer-content .social-box {
     display: flex;
     gap: 20px;
     flex-direction: column;
}
.social-box .social-icon {
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.social-box .social-icon a {
     color: var(--white);
     font-size: 16px;
     font-weight: 400;
}

.social-box .social-icon i {
     color: var(--white);
     font-size: 18px;
}

.footer .copyright {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.footer .copyright p {
     color: var(--white);
     font-size: 14px;
     line-height: 1.4em;
}

.copyright .legal-link {
     display: flex;
     gap: 20px;
}

.copyright .legal-link a {
     color: var(--white);
     font-size: 14px;
     font-weight: 400;
}

@media (max-width: 1024px) {
     .container {
          width: 100%;
          padding: 0 20px;
     }

     .header .navbar {
          flex-direction: column;
          gap: 10px;
          align-items: center;
          justify-content: center;
     }
     .hero-section,
     .hero-container {
          min-height: 55vh;
     }

     .hero-section .hero-content button {
          margin-top: 10px;
     }

     .hero-section .hero-content p {
          width: 100%;
     }

     .speakers,
     .pricing {
          margin: 50px 0;
     }

     .speaker-content .speaker-grid {
          grid-template-columns: repeat(2, 1fr);
          margin-top: 30px;
     }

     .speaker-grid .speaker-card .speaker-content {
          padding: 15px;
     }

     .pricing-content .pricing-grid {
          grid-template-columns: repeat(2, 1fr);
          padding: 20px 40px;
     }

     .pricing-content .pricing-grid .pricing-card {
          padding: 20px;
     }
     .footer-item:first-child {
          flex: 1 0 calc(46% - 13.33px);
     }

     .footer-item:nth-child(2),
     .footer-item:nth-child(3) {
          flex: 0 0 calc(27% - 13.33px);
     }

     .footer {
          padding: 30px 0;
     }
}
@media (max-width: 768px) {
     .navbar .menu-btn button,
     .hero-content button {
          padding: 7px 15px;
     }
     .navbar .nav-menu {
          gap: 5px;
     }

     .navbar .nav-menu li a {
          padding: 5px;
     }

     .hero-section,
     .hero-container {
          min-height: 40vh;
          padding: 10px;
     }

     .speakers,
     .pricing {
          margin: 40px 0;
     }

     .speaker-grid .speaker-card .speaker-content {
          padding: 10px;
          gap: 5px;
     }

     .speaker-content .speaker-grid {
          grid-template-columns: 1fr;
          gap: 20px;
     }

     .pricing-content .pricing-grid {
          grid-template-columns: 1fr;
          padding: 0;
     }

     .footer {
          padding: 20px 0;
     }
     .footer-item:first-child {
          flex: 1 1 calc(30% - 10px);
     }

     .footer-item:nth-child(2),
     .footer-item:nth-child(3) {
          flex: 0 0 calc(40% - 10px);
     }

     .footer-content .footer-logo img {
          width: 50px;
     }

     .social-box .social-icon {
          flex-direction: column;
          justify-content: left;
          align-items: flex-start;
          gap: 10px;
     }

     .footer-content .social-icon i {
          font-size: 16px;
     }

     .footer .copyright {
          flex-direction: column;
          gap: 15px;
     }
}
